

        <h2> Patient Details</h2><br>
        Patient ID:<input type="text" [(ngModel)]="patientObj.ID" value="" /><br>
        Patient Name:<input type="text" [(ngModel)]="patientObj.PatientName" value="" /><br>
        Patient Problem:<input type="text" [(ngModel)]="patientObj.PatientProblem" value="" /><br><br>
        <br><input type="Submit" (click)="Submit()" value="Add Patient"><br><br>
   
       <!--  <table>
         <tr>
            <td>Name</td>
            <td>Problem</td>
            </tr>
            <tr *ngFor="let pats of patientObjs">
            <td>{{pats.PatientName}}</td>
          <td>{{pats.PatientProblem}}</td>
          </tr>
          </table>  -->
          